tabulate==0.10.0
ptyprocess==0.7.0
typeguard==4.5.1
docstring_parser==0.17.0
python-dateutil==2.9.0.post0
executing==2.2.1
httpcore==1.0.9
stack-data==0.6.3
importlib_resources==6.5.2
charset-normalizer==3.4.6
asttokens==3.0.1
filelock==3.25.2
tyro==1.0.11
cloudpickle==3.1.2
tqdm==4.67.3
MarkupSafe==3.0.3
markdown-it-py==4.0.0
arm_pytorch_utilities==0.5.0
cuda-pathfinder==1.5.0
Jinja2==3.1.6
GitPython==3.1.46
kiwisolver==1.5.0
h11==0.16.0
nvidia-cufile==1.15.1.6
mani_skill==3.0.0b22
pyperclip==1.11.0
typer==0.24.1
transforms3d==0.4.2
pure_eval==0.2.3
pexpect==4.9.0
six==1.17.0
nvidia-nvtx==13.0.85
typing_extensions==4.15.0
nvidia-ml-py==13.595.45
smmap==5.0.3
dacite==1.9.2
requests==2.33.0
cycler==0.12.1
PyYAML==6.0.3
click==8.3.1
gitdb==4.0.12
ipython_pygments_lexers==1.1.1
fsspec==2026.3.0
decorator==5.2.1
cuda-toolkit==13.0.2
pyparsing==3.3.2
pytorch-kinematics==0.7.6
contourpy==1.3.3
mdurl==0.1.2
urllib3==2.6.3
pytorch-seed==0.2.0
anyio==4.13.0
matplotlib-inline==0.2.1
traitlets==5.14.3
prompt_toolkit==3.0.52
Farama-Notifications==0.0.4
wcwidth==0.6.0
idna==3.11
shellingham==1.5.4
parso==0.8.6
annotated-doc==0.0.4
httpx==0.28.1
ImageIO==2.37.3
psutil==7.2.2
fast_kinematics==0.2.2
certifi==2026.2.25
cuda-bindings==13.2.0
nvidia-nvshmem-cu13==3.4.5
ipython==9.10.1
trimesh==4.11.5
huggingface_hub==1.8.0
rich==14.3.3
mplib==0.1.1
pillow==12.1.1
gymnasium==1.2.3
mpmath==1.3.0
imageio-ffmpeg==0.6.0
nvidia-cuda-runtime==13.0.96
absl-py==2.4.0
toppra==0.6.3
opencv-python==4.13.0.92
nvidia-cusolver==12.0.4.66
nvidia-cuda-nvrtc==13.0.88
nvidia-cufft==12.0.0.61
nvidia-cusparse==12.6.3.3
nvidia-cudnn-cu13==9.19.0.56
Pygments==2.19.2
nvidia-cusparselt-cu13==0.8.0
setuptools==81.0.0
nvidia-cublas==13.1.0.3
triton==3.6.0
nvidia-nccl-cu13==2.28.9
networkx==3.6.1
hf-xet==1.4.2
fonttools==4.62.1
sapien==3.0.3
sympy==1.14.0
scipy==1.17.1
packaging==26.0
nvidia-nvjitlink==13.0.88
h5py==3.16.0
nvidia-curand==10.4.0.35
nvidia-cuda-cupti==13.0.85
matplotlib==3.10.8
lxml==6.0.2
jedi==0.19.2
numpy==2.4.3
torch==2.11.0
annotated-types==0.7.0
typing-inspection==0.4.2
pydantic_core==2.41.5
Markdown==3.10.2
platformdirs==4.9.4
protobuf==6.33.6
Werkzeug==3.1.7
tensorboard-data-server==0.7.2
grpcio==1.78.0
pydantic==2.12.5
sentry-sdk==2.56.0
tensorboard==2.20.0
wandb==0.25.1
